spring:
  application:
    name: "config-server"

  profiles:
  #  active: native
    active: git

  cloud:
    config:
      server:
 #       native:
#          search-locations: "classpath:/config"
#          search-locations: "file:///Users//harry//Documents//ConfigsMS"
        git:
          uri: "https://github.com/HarrySrivastava/ConfigMS.git"
          default-label: main
          timeout: 5
          clone-on-start: true
          force-pull:  true



encrypt:
  key: "RwJhprsYfF6LIte5IgNd89uol89KEs3z"

management:
  endpoints:
    web:
      exposure:
        include: "*"

  health:
    readiness-state:
      enabled: true
    liveness-state:
      enabled: true
  endpoint:
    health:
      probes:
        enabled: true

  metrics:
    tags:
      application: ${spring.application.name}

server:
  port: 8071

logging:
  pattern:
    level: "%5p [${spring.application.name},%X{trace_id},%X{span_id}]"
